<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect from WWW" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.armchairtheorist.com$" />
                    </conditions>
                    <action type="Redirect" url="http://armchairtheorist.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Canonical Host Name" stopProcessing="true">
                    <match url="index\.html(?:l)?" />
                    <action type="Redirect" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>